# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage/

# next.js
.next/
out/

# production
build/
dist/

# turbo
.turbo/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
bun-debug.log*
debug_response.php

# env files
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# php / laravel
/vendor
.phpunit.cache
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
_ide_helper.php
.phpactor.json
Thumbs.db
